.item1 {
    grid-area: left
}

.item2 {
    grid-area: right
}



.Main-container {
    margin: 4vh 0vh;
    height: 150vh;
    display: grid;
    grid-template-areas:
        'left left right right'
        'left left right right'
        'left left right right';
    gap: 1rem;
}

.Main-category {
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px;
    background-size: cover;
    font-size: 2rem;
    color: aliceblue;
    text-align: right;
}

@media screen and (max-width: 700px) {
    .Main-container {
        grid-template-areas:
            'left'
            'left'
            'right'
            'right';
        gap: 1rem;
    }
}