.main-categories-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vw;
}

.main-categories-item {
    box-sizing: border-box;
    background-size: cover;
    position: relative;
    height: 450px
}

.main-categories-item-content {
    position: absolute;
    bottom: 5%;
    left: 5%;  
    color: black;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.main-categories-item-text, .main-categories-item-button {
    padding: 0 3px;
    background-color: white;
    text-transform: uppercase;
}

.main-categories-item-text {
    font-size: 2rem;
    line-height: 2.2rem;
}

.main-categories-item-button {
    font-size: 1rem;
    line-height: 1.2rem;
    cursor: pointer;
    text-decoration: underline;
    font-weight: 500;
}

@media screen and (max-width: 1000px) {
    .main-categories-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .main-categories-item {
        height: 600px
    }
}

@media screen and (max-width: 700px) {
    .main-categories-item {
        height: 300px
    }
}