.profileinfo-container {
    height: 100%;
    display:flex;
    flex-direction:column;
    height: -webkit-fill-available;
}

.profile-address-actions-container {
    flex-grow: 1;
    display: flex;
    justify-content: end;
    padding-bottom: 2vh;
}

.profile-address-edit-button {
    margin-top: 5px;
    align-self: flex-end;
    color: white;
    background-color: #1890ff;
}

.profile-address-edit-button:hover,  .profile-address-edit-button:focus{
    background-color: #1890ff;
    color: white;
}