.checkout-container {
  margin: auto;
  width: 50vw;
}

.steps-content {
  position: relative;
  border-radius: 5px;
  box-shadow: 1px 0px 5px #1890ff;
  margin: 2vh 0;
  border: 1px solid #1890ff;
  padding: 4vh 2vw 0 2vw;
  height: calc(100vh - 40vh);
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

.steps-content::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.steps-content::-webkit-scrollbar-thumb {
  background-color: black;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid white;  /* creates padding around scroll thumb */
}

.next-step-button {
  color: white;
  background-color: #1890ff;
  font-size: medium;
}

.next-step-button:hover, .next-step-button:focus {
  background-color: #439df1;
  color: white;
}

.previous-step-button {
  color: black;
  font-size: medium;
}

.previous-step-button:hover, .previous-step-button:focus {
  color: rgba(0, 0, 0, 0.738);
}
