.checkout-container {
  margin: auto;
  width: 70vw;
}

.steps-content {
  position: relative;
  border-radius: 5px;
  margin: 2vh 0;
  padding: 4vh 2vw 0 2vw;
}

.next-step-button {
  color: white;
  background-color: #1890ff;
  font-size: medium;
}

.next-step-button:hover, .next-step-button:focus {
  background-color: #439df1;
  color: white;
}

.previous-step-button {
  color: black;
  font-size: medium;
}

.previous-step-button:hover, .previous-step-button:focus {
  color: rgba(0, 0, 0, 0.738);
}


@media screen and (max-width: 700px) {
  .checkout-container {
    margin: auto;
    width: 86vw;
  }
}
