.Hover-container{
    width: 50vw;
}

.Hover-content{
    display:flex;
    justify-content: space-between;
}

.Hover-img{
    width: 20vw;
    height: 100%;
    background-size: cover;
}

a {
    color: #272727;
}

a:hover,a:focus {
    color: #6f6c6c;
}
