.footer-container {
    margin-top: 3vh;
}

.footer-icons-container {
    display: flex;
    justify-content: center;
    gap: 1vw;
    margin-bottom: 1vh;
}

.footer-icon {
    font-size: 35px;
    color: black !important;
}

.footer-icon:hover{
    color: rgba(0, 0, 0, 0.573) !important;
}

.footer-icon:focus, .footer-icon:active{
    color: black !important
}

.payment-section {
    text-align: center;
}

.payment-photo {
    width: 7vw;
}

.links-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
}

.chunk-list {
    padding: 0;
    list-style: none;
}

.copyright-text{
    margin: 5vh auto ;
    width: 50vw;
}

@media screen and (max-width: 1000px) {
    .links-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-around;
    }
    .copyright-text{
        margin: 2vh 0 ;
        width: 100%;
    }
}