.product-details-container {
    display: flex;
    justify-content: space-around;
}

.product-details-leftside {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center
}

.product-details-rightside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.product-details-rightside-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-button {
    background-color: black;
    margin-right: 0.5vw;
    color: white;
}

.cart-button:hover,
.cart-button:focus {
    background-color: rgba(0, 0, 0, 0.668);
    color: white;
}

.variants-container {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.colors {
    display: flex;
    gap: 1vh;
}

.sizes {
    display: flex;
    gap: 1vh;
}

.size {
    font-weight: 700;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
}

.variant {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: opacity .5s;
}

.variant:hover {
    opacity: .8;
}

.selected-variant {
    border: 2px solid black;
    position: relative;
}

.selected-variant:before {
    background: none;
    border: 2px solid white;
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
  }


@media screen and (max-width: 700px) {
    .product-details-container {
        flex-direction: column;
        gap: 4vh;
    }
}