.search-container {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.search-results-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    gap: 1vw;
}

.search-results-container .Product-Card {
    width: 15vw;
}


@media screen and (max-width: 1000px) {
    .search-results-container .Product-Card {
        width: 36vw;
    }
  }

  @media screen and (max-width: 700px) {
    .search-results-container .Product-Card {
        width: 33vw;
    }
  }