.ant-layout-sider {
    background: #fff;
}
.site-layout-background {
    background: #fff;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
}

.site-layout-background::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

.site-layout-background::-webkit-scrollbar-thumb {
    background-color: black;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid white;
    /* creates padding around scroll thumb */
}
