.Nav{
    z-index: 100;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    position: sticky;
    top: 0;
}

.Nav-start {
    display: flex;
    gap: 2vw;
}

.ant-drawer-content-wrapper{
    width: 40vw !important
}


.ant-btn {
    border:none;
}

.Nav-buttons{
    color: black;
    background: #fff;
    display: flex;
    gap: 1vw;
}

.Nav-buttons  .ant-btn:hover, .ant-btn:focus {
    color: black;
    background: #fff;
}

.Nav-icon {
    font-size: 25px;
}

.Nav-links {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.Nav-links .ant-btn:hover, .ant-btn:focus {
    color: black;
    background: #fff;
}

.Nav-mobile-nav {
    display: none;
}

@media screen and (max-width: 1000px) {
    .ant-drawer-content-wrapper{
        width: 100vw !important
    }
    .Nav-mobile-nav {
        display: flex;
    }
    .Nav-normal-nav {
        display: none;
    }
    .Nav-buttons{
        gap: 2vw;
    }
  }