.Nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
}

.Nav-start {
    display: flex;
    gap: 2vw;
}


.ant-btn {
    border:none;
    font-size:1.2rem;
    font-weight: bold;
    height: 100%
}

.Nav-buttons .ant-btn{
    font-size: 1.8rem;
}

.ant-btn:hover, .ant-btn:focus {
    color: #6f6c6c;
    background: #fff;
}
@media screen and (max-width: 700px) {
    .Nav{
        flex-direction: column;
    }
    .Nav-start {
        flex-direction: column;
    }
  }